* {
	--background_black: rgb(33, 35, 33);
	--darker_background_black: rgb(19, 19, 19);
	--logo_green: #91EA57;
	--darker_logo_green: #72b743;
	--white: #f6f6f6;
	--crimson: rgb(255, 73, 57);
}

body {
  margin: 0;
  font-family: yekan-bakh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background_black);
}

@font-face {
	font-family: 'Yekan-bakh';
	src:	url('./Helpers/Fonts/YekanBakh-Bold/@font-face/Yekan-bakh.eot'), /* IE9 Compat Modes */
			url('./Helpers/Fonts/YekanBakh-Bold//@font-face/Yekan-bakh.woff2') format('woff2'), /* Modern Browsers */
			url('./Helpers//Fonts/YekanBakh-Bold/@font-face/Yekan-bakh.woff') format('woff'), /* Modern Browsers */
			url('./Helpers/Fonts/YekanBakh-Bold/@font-face/Yekan-bakh.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

@font-face {
	font-family: 'kdam';
	src:	url('./Helpers/Fonts/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
